* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(45deg, violet, rgb(15, 15, 255), purple); 
  background-size: 400% 400%;
  animation: colors 5s ease infinite;
}

/* header {
  background-color: blueviolet;
} */

#logo {
  width: 100px;
  height: 100px;
}

.cabecalho {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cabecalho h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cabecalho p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cabecalho span {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.registro {
  background-image: url("./Imagem/fundo1.png");
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  height: 50%;
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.anuncio {
  width: 50%;
  height: 100%;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anuncio h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.anuncio p {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 1.2rem;
}

.anuncio span {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.cadastro {
  width: 50%;
  height: 100%;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
}

.cadastro form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: transparent;
}

.cadastro form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cadastro form label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cadastro form input {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.cadastro form button {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(115, 0, 255);
  cursor: pointer;
}

.cadastro form button:hover {
  background-color: rgba(0, 0, 255, 0.612);
}

.rodape {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

/* Animações */
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
