#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#inicio {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#inicio .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#inicio .title strong {
    color: red;
}

#inicio .description {
    font-size: 1.2rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 60%;
    width: fit-content;
}