/* Parte da responsividade */

/* Parte do cabeçalho */
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn_default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
    } 
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }

    #inicio {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        align-items: center;
    }
}