:root {
    --primary: #00c8ff;
    --secondary: #5352ed;
    --accent: #ff2e63;
    --dark: #0a0a24;
    --light: #f1f2f6;
}

#home {
    display: flex;
    flex: auto;
    min-height: calc(100vh - 91px);
    position: relative;
}

#inicio {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#inicio .title {
    font-size: 3.5rem;
    color: rgb(255, 234, 0);
}

#inicio .title strong {
    color: red;
}

#inicio .description {
    font-size: 1.2rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#btn-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 100%;
    margin-top: -20%;
    gap: 12px;
   
}

#btn {
    margin: 0 auto;
    padding: 12px 24px;
    background: transparent;
    color: var(--light);
    border: 2px solid var(--primary);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    box-shadow: 0 0 10px var(--primary);
}

#agenda{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -10%;
}

#agenda > h2, h3 {
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.agenda-palestra {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.agenda-palestra > h2{
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.evento {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    border: 1px solid var(--primary);
    border-radius: 12px;
    margin: auto;
    margin-bottom: 3%;
    padding: 12px;
    box-shadow: 0 0 10px var(--primary);
}

#btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

#btn:hover:before {
    left: 0;
}

#btn:hover {
    color: var(--dark);
    box-shadow: 0 0 20px var(--primary);
    transform: translateY(-5px);
}




