/* Parte da responsividade */

/* Parte do cabeçalho */
/* Para telas maiores que 768px */
@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
    
    .nav-menu {
        position: static;
        max-height: none;
        background-color: transparent;
        width: auto;
        overflow: visible;
    }
    
    .nav-menu ul {
        display: flex;
    }
    
    .nav-menu li {
        border-bottom: none;
        margin-left: 1rem;
    }
    
    .nav-menu a {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 1170px) {
    #home {
        align-items: center;
        justify-content: center;        
        flex-wrap: wrap;
        min-height: 100%;
        padding-top: 0px;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }

    #inicio {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}